*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
    align-items: center;
}

.padding{
    padding:1rem 15rem;
}

nav{
    
    justify-content: space-between;
    background-color: orange;
    position: fixed;
    width: 100%;
}

ul,.emoticon-container{
    list-style-type:none;
    gap: 0.5rem;
    font-size: 20px;
}

.logo-container{
    justify-content: center;
   
}

.logo{
    width: 25%;
}

.white{
    color: white;
}

main{
    padding:7rem 15rem;
}
.item{
    width: calc((100%/ 3));
    
    position: relative;
}

.prodotto1{
    max-width:100%;
}

h1{
    font-size: 20px;
}
.position{
    position: absolute;
}
.cuore{
    width:5% ;
    background-color: white;
    top:0;
    right: 0;
}

.discount-container{
    left: 0;
    bottom: 150px;
    font-size:1em ;
}

.discount{
    background-color: red;
    padding:0.5em ;
}

.sostenibilità{
    background-color: green;
    padding:0.5em ;
}


